server:
  port: 9191

spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: djordje
  application:
    name: PAYMENT-SERVICE
